body{
    font: 400 1.5rem 'Playfair Display', serif;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-around;
    gap:60%;
    align-items: center;
    font-family: 'Pacifico', cursive;
    border: 1px solid #272727;
}


.post{
    width: 600px;
}



/* .post-1{ */
.postchildren{
    border: 1px solid #272727;
    width: 675px;
    margin:15px 90px;

}
.post0{
    border: 1px solid #272727;
    width: 675px;
    margin:15px 90px;

}
.post1{
    border: 1px solid #272727;
    width: 675px;
    margin:15px 90px;

}

.post1{
    border: 1px solid #272727;
    width: 675px;
    margin:15px 90px;

}

.post1{
    border: 1px solid #272727;
    width: 675px;
    margin:15px 90px;

}
h1{
    font-size: 4rem;
    margin: 10px 0;
}

p{
    margin: 3px 3px;
}
.container{
    padding-left: 10px;
}
.container-top{
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
.container-top h2, .container-top h2{
    margin: 5px;
}
.container-top img{
    height: 72px;
    width: 72px;
    border-radius: 50%;
}



.container-images img{
    padding-top: 20px;
    padding-left: 10px;
    width: 36px;
    height: 40px;
}
.container-images img:hover{
    opacity: 0.5;
}
span{
    font-weight: 700;
}

footer{
    text-align: center;
    padding: 50px;
    border: 1px solid salmon;
}